<div class="row-fluid">
     <div class="span8 offset2">
        <h2>MarlinQuoter v0.0.1</h2>
    </div>
</div>

<div class="row-fluid vendorSection" ui-if="vendor">
    <div class="span8 offset2">
        <h1>{{vendor.name}}</h1>
        <img class="pull-left img-rounded img-large" ng-src="{{vendor.logo.original}}" ng-show="vendor.logo.original" title="Logo" />
    </div>
</div>

<div class="row-fluid" ng-show="!finished">
    
    <div class="span4 offset2">
        
        <legend>Vendor Information</legend>
        <p>{{vendor.name}}</p>
        <p>{{vendor.businessPhone}}</p>
        <p>{{vendor.businessAddress.address1}}</p>
        <p>{{vendor.businessAddress.address2}}</p>
        <p>{{vendor.businessAddress.city}}, {{vendor.businessAddress.state}} {{vendor.businessAddress.zip}}</p>
    </div>

</div>

<form name="application">

<div class="row-fluid" ng-show="!finished">

    <div class="span4 offset2">
        <legend>Company Information</legend>
        
        <label>Full Legal Business Name</label>
        <input type="text" placeholder="" ng-model="application.leasee.fullLegalBusineessName">
        
        <label>Address 1</label>
        <input type="text" placeholder="" ng-model="application.leasee.businessAddress.address1">
        
        <label>Address 2</label>
        <input type="text" placeholder="" ng-model="application.leasee.businessAddress.address2">
        
        <label>City</label>
        <input type="text" placeholder="" ng-model="application.leasee.businessAddress.city">
        
        <label>State</label>
        <input type="text" placeholder="" ng-model="application.leasee.businessAddress.state">
        
        <label>Zip</label>
        <input type="text" placeholder="" ng-model="application.leasee.businessAddress.zip">

    </div>
     
    <div class="span4"> 
        
        <legend>Primary Contact Information</legend>
    
        <label>Contact Name</label>
        <input type="text" placeholder="" ng-model="application.leasee.contactPerson.name">
    
        <label>Email</label>
        <input type="text" placeholder="" ng-model="application.leasee.contactPerson.email">
        
        <label>Phone</label>
        <input type="text" placeholder="" ng-model="application.leasee.contactPerson.phone">
        
        <p>Preferred contact method</p>
        <a ng-click="application.leasee.contactPerson.contactMethod = 'email'" class="btn contact-method" ng-class="{active: application.leasee.contactPerson.contactMethod == 'email'}">Email</a>
        <a ng-click="application.leasee.contactPerson.contactMethod = 'phone'" class="btn contact-method" ng-class="{active: application.leasee.contactPerson.contactMethod == 'phone'}">Phone</a>
        
    </div>
    
</div>

<div class="row-fluid" ng-show="!finished">

    <div class="span4 offset2">
        
        <legend>Business Questions</legend>
    
        <p>Are you a sole proprietor of this business?</p>
        <a ng-click="application.leasee.soleProp = true" class="btn contact-method" ng-class="{active: application.leasee.soleProp == true}">Yes</a>
        <a ng-click="application.leasee.soleProp = false" class="btn contact-method" ng-class="{active: application.leasee.soleProp == false}">No</a>
    
        <br />
        
        <p>How many years have you been in business?</p>
        <label>
        <input type="text" placeholder="" ng-model="application.leasee.yearsInBusiness">Years</label>
    
        <p class="alert" ng-show="message">{{message}}</p>
    
    </div>
    
</div>

<div class="row-fluid" ng-show="needsMoreInfo() && !finished">   
    
    <div class="span4 offset2">

        <legend>Personal Guarantor</legend>
        
        <label>Name</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.name">
        
        <label>Social Security Number</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.socialSecurityNumber">

    </div>
     
    <div class="span4"> 
    
        <legend>Personal Guarantor Contact</legend>
    
        <label>Email</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.email">
        
        <label>Phone</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.phone">
        
        <label>Address 1</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.address1">
        
        <label>Address 2</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.address2">
        
        <label>City</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.city">
        
        <label>State</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.state">
        
        <label>Zip</label>
        <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.zip">
        
        
       

    </div>

</div>

<div class="row-fluid">
        
    <div class="span8 offset2">
        <legend>Authorization</legend>
        <label class="checkbox">
        <input type="checkbox" required="required" ng-model="application.agreeToTerms" />
        By checking this box, each undersigned individual(s), who is either a principal of the credit applicant listed below or a personal guarantor of its obligations, provides written instruction to Faculty Creative or its designee (and any assignee or potential assignee thereof) authorizing review of his or her personal credit profile from a national credit bureau. Such authorization shall extend to obtaining a credit profile in considering the application of the credit applicant and subsequently for the purpose of update, renewal or extension of such credit and for reviewing or collecting the resulting account. A photostatic or facsimile copy of this authorization shall be as valid as the original.
        </label>
    </div>

</div>

<div class="row-fluid" ng-show="!finished">
        
    <div class="span8 offset2">
        <hr />
        <a class="btn btn-primary btn-large" disabled="disabled" ng-disabled="!application.$valid" id="saveApplication" ng-click="saveApplication()">Submit Application</a>
    </div>

</div>
</div>

</form>

<div class="row-fluid" ng-show="finished">

    <div class="span4 offset2">
    
        <h1>Thanks, someone will contact you within 48 hours.</h1>
        
        <br /> <br />
        
        <a id="saveContactPref" ng-click="save()" class="btn btn-primary btn-large" >OK</a>
        
    </div>
    
</div>  

<div class="row-fluid">
        
    <div class="span8 offset2">
        <br /><br />
        <legend>Terms</legend>
        <div id="legalTerms">{{vendor.legalTerms}}</div>
    </div>

</div>
    

