<div class="row has-title-bar has-no-tabs">
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
    <div class="span10 offset2">
        
        
        <div class="row title-bar">
            <div class="span10">
                <h2>Applications</h2>
                <!-- <a id="addApplication" class="btn btn-primary actions" href="#/dashboard/applications/new">Add New Application</a> -->
            </div>
        </div>
        
        <div class="row">
            <div class="span10">            
                <div class="form-inline">
        	        <label>Search Business</label>
        	        <input type="text" placeholder="Business" ng-model="searchBusiness">
        	        
        	        <label>Search Vendor</label>
        	        <input type="text" placeholder="Vendor" ng-model="searchVendor">
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Leasee</th>
                            <th>Vendor</th>
                            <th>Cost</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in applications | filter: {leasee.fullLegalBusineessName: searchBusiness, vendor.name: searchVendor}">
                        
                            <td>{{item.leasee.fullLegalBusineessName}}</td>
                            <td>{{item.vendor.name}}</td>
                            <td>${{item.quote.totalCost | number}}</td>
                            <td>
                                <a class="edit" ng-click="editItem(item.id)">Edit</a> | 
                                <a class="view" ng-click="editItem(item.id)">View</a> | 
                                <a class="delete" ng-click="deleteItem(item.id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>