<div class="row has-title-bar has-no-tabs">
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
    <div class="span10 offset2">
        
        
        <div class="row title-bar">
            <div class="span10">
                <h2><i class="icon icon-file-text-alt"></i> Applications</h2>
                <!-- <a id="addApplication" class="btn btn-primary actions" href="#/dashboard/applications/new">Add New Application</a> -->
            </div>
        </div>
        
        <div class="row">
            <div class="span10">            
                <div class="form-inline">
        	        <label>Search Business
        	        <input type="text" placeholder="Business" ng-model="searchBusiness"></label>
        	        
        	        <label>Search Vendor
        	        <input type="text" placeholder="Vendor" ng-model="searchVendor"></label>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Leasee</th>
                            <th>Vendor</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="editItem(item._id)" ng-repeat="item in applications | filter: {leasee.fullLegalBusineessName: searchBusiness, vendor.name: searchVendor}">
                        
                            <td>{{item.leasee.fullLegalBusineessName}}</td>
                            <td>{{item.vendor.name}}</td>
                            <td>${{item.quote.totalCost | number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>