<div class="row has-title-bar" ng-init="edit()" unsaved-warning-group>
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
    <div class="span10 offset2">
        <div class="row title-bar">
            <div class="span10">
                <h2><i class="icon icon-file-text-alt"></i>{{!application._id && 'New' || 'Edit'}} Application</h2>
                
                <div class="actions">
                    <a class="btn btn-success" unsaved-warning-clear id="save" ng-show="applicationForm.$dirty" ng-click="save(false)"><i class="icon icon-ok-sign"></i>Save</a>
                    <a class="btn btn-primary" id="cancel" ng-click="cancel()"><i class="icon icon-remove-sign"></i>Close</a>
                </div>
            
            </div>
        </div>

        <form name="applicationForm" class="row" unsaved-warning-form>
                    
            <div class="span10">
                <h3>Status</h3>
                <div class="btn-group">
                    <button ng-repeat="item in statuses" ng-click="setStatus(item.value)" class="btn" ng-class="{ active: item.value == application.status }">{{item.label}}</button>
                </div>
                <br /><br />
            </div>

            <div class="span5">
                <legend>Company Information</legend>
                
                <label>Full Legal Business Name</label>
                <input type="text" placeholder="" ng-model="application.leasee.fullLegalBusinessName">
                
                <label>Address 1</label>
                <input type="text" placeholder="" ng-model="application.leasee.businessAddress.address1">
                
                <label>Address 2</label>
                <input type="text" placeholder="" ng-model="application.leasee.businessAddress.address2">
                
                <label>City</label>
                <input type="text" placeholder="" ng-model="application.leasee.businessAddress.city">
                
                <label>State</label>
                <input type="text" placeholder="" ng-model="application.leasee.businessAddress.state">
                
                <label>Zip</label>
                <input type="text" placeholder="" ng-model="application.leasee.businessAddress.zip">
        
            </div>
             
            <div class="span5"> 
                
                <legend>Primary Contact Information</legend>
            
                <label>Contact Name</label>
                <input type="text" placeholder="" ng-model="application.leasee.contactPerson.name">
            
                <label>Email</label>
                <input type="text" placeholder="" ng-model="application.leasee.contactPerson.email">
                
                <label>Phone</label>
                <input type="text" placeholder="" ng-model="application.leasee.contactPerson.phone">
                
                <p>Preferred contact method<br/>
                    {{application.leasee.contactPerson.contactMethod}}
                </p>
                
            </div>

            <div class="span5">
        
                <legend>Personal Guarantor</legend>
                
                <label>Name</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.name">
                
                <label>Social Security Number</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.socialSecurityNumber">
        
            </div>
             
            <div class="span5"> 
            
                <legend>Personal Guarantor Contact</legend>
            
                <label>Email</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.email">
                
                <label>Phone</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.phone">
                
                <label>Address 1</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.address1">
                
                <label>Address 2</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.address2">
                
                <label>City</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.city">
                
                <label>State</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.state">
                
                <label>Zip</label>
                <input type="text" placeholder="" ng-model="application.guarantorInfo.homeAddress.zip">
                           
        
            </div>

        </form>
        
        <button delete-this id="application._id" redirect="/dashboard/applications" model="modelObject"></button>

    </div>
</div>
