<div class="row has-title-bar" unsaved-warning-group>
    
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
    
    <form name="quoteForm" class="span10 offset2" unsaved-warning-form>
        <div class="row title-bar">
            <div class="span10">
                <h2><i class="icon icon-comments-alt"></i>{{!quote._id && 'New' || 'Edit'}} Quote</h2>
               <!--
 <ul class="nav nav-tabs">
                  <li ng-repeat="tab in tabs" ng-class="{active: isActiveTab($index), disabled: !quote._id && $index != 0}"><a ng-click="changeTab($index)">{{tab}}</a></li>
                </ul>
-->
                
                <div class="actions">
                    <a class="btn btn-primary" target="_blank" ng-controller="quoterToolController" ng-click="download(quote._id)"><i class="icon icon-print"></i>Download PDF</a>
                    <a class="btn btn-primary" target="_blank" ng-href="#/tools/quoter/{{quote._id}}"><i class="icon icon-paste"></i>View Quote</a>
                    <a class="btn btn-primary" id="cancel" ng-click="cancel()"><i class="icon icon-remove-sign"></i>Close</a>
                    <a class="btn btn-success" unsaved-warning-clear id="save"ng-show="quoteForm.$dirty" ng-click="save()"><i class="icon icon-ok-sign"></i>Save</a>
                </div>
            
            </div>
        </div>
            
        <div class="row">
            <div class="span3">
                
                <legend>Equipment Cost Information</legend>
                
                <label>Total Cost</label>
                <input type="text" placeholder="0.00" ng-model="quote.totalCost">
                
                <label>Description of Equiptment</label>
                <textarea type="text" ng-model="quote.description"></textarea>
                
                <label>Status</label>
                <div class="btn-group">
                    <button ng-click="quote.status='Open';quoteForm.$setDirty();" class="btn" ng-class="{active: quote.status=='Open'}">Open</button>
                    <button ng-click="quote.status='Archived';quoteForm.$setDirty();" class="btn" ng-class="{active: quote.status=='Archived'}">Archived</button>
                </div>
                
            </div>
            
            
            <div class="span3">
                <legend>Company Information</legend>
                
                <label>Company Name</label>
                <input type="text" placeholder="" ng-model="quote.company.name">
                
                <label>Address 1</label>
                <input type="text" placeholder="" ng-model="quote.company.address1">
                
                <label>Address 2</label>
                <input type="text" placeholder="" ng-model="quote.company.address2">
                
                <label>City</label>
                <input type="text" placeholder="" ng-model="quote.company.city">
                
                <label>State</label>
                <select class="medium" ng-model="quote.company.state" ng-options="state.abbreviation as state.name for state in states"></select>
<!--
                <select class="medium" ng-model="quote.company.state">
                    <option ng-repeat="item in states" value="{{item.abbreviation}}">{{item.name}}</option>
                </select>
-->
               
                
            </div>
            
            
            <div class="span3">  
                
                <legend>Contact Information</legend>
            
                <label>Contact Name</label>
                <input type="text" placeholder="" ng-model="quote.contact.name">
            
                <label>Email</label>
                <input type="text" placeholder="" ng-model="quote.contact.email">
                
                <label>Phone</label>
                <input type="text" placeholder="" ng-model="quote.contact.phone">
            
            </div>
            
        </div>
        
        <button can-do-action="delete-quote" delete-this id="quote._id" redirect="/dashboard/quotes" model="modelObject"></button>
        
    </form>
</div>

