<div class="row-fluid">
    <div class="span4 offset4 center">
        
        <h1>MarlinQuoter</h1> 
        
        <h2>Please Note:</h2>
        <p class="alert alert-info">Refreshing the browser or closing the browser window will reset the app!</p>
        
        <p class="alert alert-info">Use the links in the footer to navigate between front-end and back-end at any time.</p> 
        
        <p class="alert alert-info">Choose a path to start:</p>
         
         
        <p><a class="btn btn-primary " href="#/tools/quoter">End User: Generate a Quote + Application</a></p> 
        
        
        <p><a class="btn btn-primary " href="#/login">Sales Rep / Admin: Manage the system</a> </p>
               
    </div>
</div>