<div class="row-fluid">

     <div class="span4 offset2">
        <img class="logo" src="img/logo_large_login.png" title="Marlin Quoter" />
     </div>

    <div class="span4">
        
        <form class="well" id="loginForm" name="loginForm">
        
            <p class="alert alert-error" ng-show="message">{{message}}</p>
            
            <label>Email</label>
            <input type="text" class="input-block" required placeholder="jsmith@marlinfinance.com" ng-model="email">
            
            <label>Password</label>
            <input type="password" class="input-block" required placeholder="password" ng-model="password">
            
            <br />
            
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block" id="login" ng-click="login()">Login <i ng-show="isProcessing" class="icon icon-spinner icon-spin"></i></button>
            
            <br /> <br />
            
            <!-- <p class="alert alert-info">Username is your Marlin email, before the @. Password is the same.</p> -->
         
        </form> 
               
    </div>
</div>