<div class="row-fluid">
    <div class="span4 offset4">
        
        <div class="well" id="loginForm">
        
            <h4>Login to access MarlinQuoter</h4>
            
            <p class="alert alert-error" ng-show="message">{{message}}</p>
            
            <label>Email</label>
            <input type="email" placeholder="email" ng-model="email">
            
            <label>Email</label>
            <input type="password" placeholder="email" ng-model="password">
            
            <br />
            
            <a class="btn btn-primary" id="login" ng-click="login()">Login</a>
            
            <br /> <br />
            
            <p class="alert alert-info">Username / Password are: matt@facultycreative.com / matt</p>
         
        </div> 
               
    </div>
</div>