<a class="brand" href="#/dashboard/quotes">
    <img src="img/logo.png" alt="MarlinQuoter" />
</a>

<ul class="nav">
  <li ng-class="getClass('/dashboard/programs')"><a href="#/dashboard/programs">Rate Sheets</a></li>
  <li ng-class="getClass('/dashboard/vendors')"><a href="#/dashboard/vendors">Vendors</a></li>
  <li ng-class="getClass('/dashboard/quotes')"><a href="#/dashboard/quotes">Quotes</a></li>
  <li ng-class="getClass('/dashboard/applications')"><a href="#/dashboard/applications">Applications</a></li>
  <li ng-class="getClass('/dashboard/users')"><a href="#/dashboard/users">Users / Permissions</a></li>
</ul>

<ul>
  <li user-tray></li>
</ul>
