<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
    <a class="brand" href="#/dashboard/vendors">MarlinQuoter</a>
    <ul class="nav">
      <li><a href="#/dashboard/programs">Programs</a></li>
      <li><a href="#/dashboard/vendors">Vendors</a></li>
      <li><a href="#/dashboard/quotes">Quotes</a></li>
      <li><a href="#/dashboard/users">Users / Permissions</a></li>
    </ul>
    
    <ul class="nav pull-right">
      <li user-tray></li>
    </ul>
    </div>
  </div>
</div>