<div class="row-fluid">

     <div class="span4 offset2">
        <img class="logo" src="img/logo_large_login.png" title="Marlin Quoter" />
     </div>

    <div class="span4">
        
        <form class="well" id="passwordForm" name="passwordForm">
        
            <p class="alert alert-error" ng-show="message">{{message}}</p>
            
            <label for="email">Email</label>
            <input type="text" class="input-block" required placeholder="jsmith@marlinfinance.com" ng-model="email" name="email">
            
            <br />
            
            <button type="submit" ng-disabled="passwordForm.$invalid" class="btn btn-primary btn-block" id="password" ng-click="passwordReset()">Email New Password <i ng-show="isProcessing" class="icon icon-spinner icon-spin"></i></button>
            
            <br /> <br />
            
            <!-- <p class="alert alert-info">Username is your Marlin email, before the @. Password is the same.</p> -->
         
        </form> 
               
    </div>
</div>
