<div class="row">
     <div class="span12">
        <h3>Marlin Dealer Locator</h3>
     </div>
     
     <div class="span12 area-locator-search">
        
        <div class="pull-left">
            <label>&nbsp;</label>
            <button class="btn btn-large" ng-click="findMe()"><i class="icon-screenshot icon"></i></button>
        </div>
        
        <div class="pull-left">
            <label>Search for a location</label>
            <input type="text" required="required" ng-model="locationSearch">
            <button class="btn btn-large" ng-disabled="!locationSearch" ng-click="findMyLocation()">Find Location</button>
        </div>
        
        <div class="pull-left">
            <label>Search by Name</label>
            <input type="text" ng-model="searchText">
            <button class="btn btn-large" ng-click="searchByText()">Search</button>
        </div>
        
        <div class="pull-left">
            <label>&nbsp;</label>
            <button class="btn btn-large" ng-show="centerHasChanged" ng-click="searchHere()">Search map location</button>
        </div>
     </div>    
</div>


<div class="row">
    
    <div class="span4">
    
        <label>Distance from location</label>
        <div class="btn-group">
            <button ng-repeat="item in distanceOptions" class="btn" ng-click="setDistanceFrom(item)" ng-class="{active: distanceFrom == item}">{{item}}</button>
        </div>
    
        <div ng-show="markers.length">
            <h3>Results</h3>
            <p>We found {{markers.length}} Marlin dealers near you.</p>
            <table id="markerList" class="table table-striped">
                <tr ng-click="openMarker(item.latitude, item.longitude, item)" ng-repeat="item in markers">
                    <td><img ng-src="{{item.logo}}" class="img-tiny"/></td>
                    <td>{{item.name}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="!markers.length">
            <h3>No Results</h3>
            <p class="alert">No Marlin Dealers were founds in your area!</p>
        </div>
    </div>
    
    <div class="span8">
        
        <google-map center="center" 
            draggable="true" 
            zoom="zoom" 
            markers="markers" 
            mark-click="false" 
            fit="true" 
            latitude="latitude" 
            longitude="longitude"
            events="mapEvents" 
            style="height: 500px; width: 100%; display: block; position:relative;">
        </google-map>
          
	</div>
        
</div>
    
    

