/**
 * Bootstrap
 */

@import "../../../components/bootstrap/less/bootstrap.less";

@iconSpritePath:          "/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/img/glyphicons-halflings-white.png";

/**
 * Angular
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
    padding-top: 50px;
}

.userTrayName {
    margin: 10px 10px 0 0;
}