@import "bootstrap/variables.less"; 
@import "bootstrap/mixins.less";
@import "components/sidebar.less";
@import "components/dashboard.less";
@import "components/quoter.less";
@import "components/login.less";
@import "components/home.less";  

/**
 * Angular
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
    //padding-top: 10px;
}

a[ng-click], button[ng-click], tr[ng-click] {
    cursor: pointer;
}

.userTrayName {
    margin: 10px 10px 0 0;
}

.center {
    text-align: center;
}

.navbar .pull-right {
    margin-top: 12px;
}
a:hover{text-decoration: none;}
.table{margin: 10px 0;}
.container{margin-right: 0; margin-left: 0;}
body.quoter .container, 
body.login .container, 
body.home .container, 
body.application .container,
body.locator .container{
    margin-left: auto; margin-right: auto; margin-top: 90px;
}

body.locator .container {
    margin-top: 20px;
}

body.quoter .container, body.application .container {
    margin-top: 20px;
}

body.dashboard {
    background: white;
    
    > .container {
        background-color: @bodyBackground;
        border-right: 1px solid @niceTan;
        
        width: @gridRowWidth + 40px;
        min-height: 100%;
        .span10.offset2 {
            margin-left: (@gridColumnWidth * 2) + (@gridGutterWidth * 3) + 10px;
        }
        
    }
    
}

ul.unstyled li{min-height: 50px;}

h2 {
    font-size: 22.5px; // this should be in 
}

// ---------------------------------------------------
// 
// BOOTstrap utility classes
//
// ---------------------------------------------------

.img-tiny {
    max-width: 50px; // IE8 needs the max width to be set or the image will be distorted.
    width: 50px;
}

.img-medium {
    max-width: 100px;
    width: 100px;
}

.img-mediumBigger {
    max-width: 120px;
    width: 120px;
}

.img-large {
    max-width: 200px;
    width: 200px;
}

.clear-fix {
    clear: both;
}



// ---------------------------------------------------------
//
// WELL
//
// ---------------------------------------------------------

.well {
    padding: 39px;
    border: 10px solid rgba(255,255,255,0.4);
    .background-clip(border);
    .background-clip(padding);
    //.background-clip(content);
}


// ---------------------------------------------------------
//
// BUTTONS
//
// ---------------------------------------------------------
.btn-primary, .btn-success {
   text-transform: uppercase;
   font-size: 11px;
}

.btn-block.btn-primary {
    padding-top: 18px;
    padding-bottom: 18px;
}

.btn-mega {
  padding: 25px 80px;
  font-size: @fontSizeLarge;
  .border-radius(10px);
}
.btn-mega [class^="icon-"],
.btn-mega [class*=" icon-"] {
  margin-top: 4px;
}

.link-danger {
    color: @red;
    font-size: 12px;
    padding: 5px;
}


// ---------------------------------------------------------
//
// FORM ELEMENTS
//
// ---------------------------------------------------------

label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

.form-inline label{margin-right: 3px;}

.input-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    height: auto !important;
}

.has-title-bar {
    
    h3 {
        border-bottom: 1px solid @gray;
        text-transform: uppercase;
    }
}

sup.required {
    color: @red;
}

label sup {
    margin-left: 5px;
}

// ---------------------------------------------------
// 
// LOADING spinner
//
// ---------------------------------------------------

.spinner-overlay {
    z-index: 1200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
    
    .icon-spinner {
        font-size: 40px;
        color: white;
        margin-top: 200px;
    }
    
}


.lt-ie9 .spinner-overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;  
    top: 200px; 
    background: @gray;
}

.lt-ie9 .icon-spinner {
    margin-top: 30px;
}


// @todo refine this is hacky
.salesRep, .userList {
    
    .company-name, .contact-name {
        font-size: 16px;
    }
    
    .company-name {
        color: #505050;
    }
    
    .contact-name {
        
    }
    
    .icon {
        color: @linkColor;
    }
    
}


// ---------------------------------------------------
// 
// Vendor Edit rate sheet table
//
// ---------------------------------------------------

.table-rate-sheets {
    
    td, tr {
        padding: 0px;
        vertical-align: middle;
        
        p {
            margin: 0;
        }
        
        button {
            margin: 0 0 0 20px;
        }
                
    }
    
    td:last-child {
        padding: 5px 20px 0 0;
    }
    
}



// ---------------------------------------------------
// 
// Buyout Program Table
//
// ---------------------------------------------------

// prevent cost range area from getting too small
td.cost-range {
    min-width: 250px;
}

// we use an extra td to pad out the table, so columns always float left.
// this is a trick to make the padded one go away if we dont need it
td[colspan*="0"] {
    display: none;
}

.buyoutEditForm {
    
    .span1 {
        width: 60px;
        padding: 8px 6px;
    }
    
    .td-pad {
        width: 100%;
    }
    
    .table, .table td, .table thead {
        background: @bodyBackground;
    }
    
}

// delete buttons, @note could be other selectors though 
td[colspan*="1"] button {
    text-align: center;
    display: block;
    margin: 0 auto;
}

form[name*="formBuyoutOptions"] .ng-invalid {
  border-color: @red;
  .box-shadow(0 0 6px #f8b9b7);
}




// ---------------------------------------------------------
//
// Table
//
// ---------------------------------------------------------


thead {
    background: @niceTan;    
}

.table th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table .text-center {
    text-align: center;
}

.table th.text-right, .table td.text-right {
    text-align: right;
}


.manage-sales-rep {
    margin: 40px 0 0 40px;
}

// hover effect on list tables
tr[ng-click] {
    
    .transition(all 220ms ease);

    .icon-reveal {
        display: none;
        .transition(all 220ms ease);
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    &:hover {
        background: @blueLight;
        
        .icon-reveal {
            display: block;
        }
        
    }
    
    td {
        vertical-align: middle;
        position: relative;
    }
    
    td.border-right {
        border-right: 1px solid @tableBorder;
        background: @white;
    }
    
    

}

td.salesRep {
    padding-left: 20px;
}

.tool-icons {
   
   i {
     font-size: 20px;
     margin-right: 5px;  
   }
   
   .icon-success {
       color: @green
   }
    
}


// ---------------------------------------------------------
//
// Dealer Locator
//
// ---------------------------------------------------------

.map {
    display: block;
    height: 500px;
    
    img {
        max-width: inherit;
    }   
}

.locator .angular-google-map-container {
	width: 100%;
	height: 600px;
}

.vendors .angular-google-map-container {
	width: 100%;
	height: 400px;
	display: block;
}

.angular-google-map {
    display: block;
    width: 100%;
    height: 100%;
    float: none;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
	max-width: inherit;
}



// ---------------------------------------------------------
//
// FOOTER fancy fixed
// 
// @see Sticky Footer by Ryan Fait
// @see http://ryanfait.com/
//
// ---------------------------------------------------------

html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 200px; /* .push must be the same height as .footer */
}



// ---------------------------------------------------------
//
// NERDS at the footer
//
// ---------------------------------------------------------
.nerds {
    width: 200px;
}


footer p.hello {
    margin-bottom: 0;
    margin-top: 20px;
    
}

footer em {
    font-size: 20px;
}

// overrides bootstrap form-line behavior so the labels appear on top of the form element,
// but the form elements all display inline. @see http://localhost:3000/#/dashboard/quotes search bar for example
.form-inline  {

    label input {
        display: block;
    }
}

.legal {
    position: absolute;
    font-size: 10px;
    bottom: 12px;
    padding: 0 20px;
}
