<h1>Hello <%= salesRepName %>, a quote was just generated for ony of your vendors.</h1>
<p>The quote was generated at <%= dateTime %></p>
<p>Here is link to view the quote in your dashboard. <%= link %></p>
