<div class="row-fluid">
     <div class="span8 offset2">
        <h2>MarlinQuoter v{{version}}</h2>
        <p ng-hide="didQuote">Please fill out the following form to receive your quote.</p>
        <p ng-show="didQuote">Thanks for your interest in out leasing options.</p>
    </div>
</div>

<div class="row-fluid vendorSection" ui-if="vendor">
    <div class="span8 offset2">
        <h1>{{vendor.name}}</h1>
        <img class="img-rounded img-large" ng-src="{{vendor.logo.original}}" ng-show="vendor.logo.original" title="Logo" />
    </div>
</div>

<div class="row-fluid" ui-if="!didQuote && !vendor_id">

    <div class="span8 offset2">
        
        <legend>Vendor</legend>
        <select ui-if="!didQuote && !vendor_id" ng-model="quote.vendorId" ng-options="value.id as value.name for (key , value) in vendors" ></select>
        <p ui-if="didQuote">{{vendor.name}}</p>
        
    </div>
    
</div>


<div class="row-fluid">

    <div class="span8 offset2">
        
        <legend>Equipment Cost Information</legend>
        
        <label>Total Cost</label>
        <input type="text" placeholder="0.00" ng-model="quoteCost">
        
        <p class="alert alert-info" style="width: 200px;" ng-hide="!didQuote || !canEdit">You can change the amount and click re-calculate quote.</p>
        
        <label>Description of Equipment</label>
        <textarea type="text" ng-model="quote.description"></textarea>

    </div>
</div>

<div class="row-fluid" ng-hide="didQuote">   
 
    <div class="span4 offset2" >

        <br /><br />

        <legend>Company Information</legend>
        
        <label>Company Name</label>
        <input type="text" placeholder="" ng-model="quote.company.fullLegalBusineessName">
        
        <label>Address 1</label>
        <input type="text" placeholder="" ng-model="quote.company.businessAddress.address1">
        
        <label>Address 2</label>
        <input type="text" placeholder="" ng-model="quote.company.businessAddress.address2">
        
        <label>City</label>
        <input type="text" placeholder="" ng-model="quote.company.businessAddress.city">
        
        <label>State</label>
        <input type="text" placeholder="" ng-model="quote.company.businessAddress.state">
        
        <label>Zip</label>
        <input type="text" placeholder="" ng-model="quote.company.businessAddress.zip">

    </div>
    
    <div class="span4">
    
        <br /><br />
        
        <legend>Contact Information</legend>
    
        <label>Contact Name</label>
        <input type="text" placeholder="" ng-model="quote.company.contactPerson.name">
    
        <label>Email</label>
        <input type="text" placeholder="" ng-model="quote.company.contactPerson.email">
        
        <label>Phone</label>
        <input type="text" placeholder="" ng-model="quote.company.contactPerson.phone">
        
        <p>Preferred contact method</p>
        <a ng-click="quote.company.contactPerson.contactMethod = 'email'" class="btn contact-method" ng-class="{active: quote.company.contactPerson.contactMethod == 'email'}">Email</a>
        <a ng-click="quote.company.contactPerson.contactMethod = 'phone'" class="btn contact-method" ng-class="{active: quote.company.contactPerson.contactMethod == 'phone'}">Phone</a>
    
    </div>

</div>

<div class="row-fluid" ui-if="canEdit">
        
    <div class="span8 offset2">
        <hr />
        <a class="btn btn-primary btn-large" id="generateQuote" ng-click="generateQuote()">{{buttonText}}</a>
        <p ng-show="didQuote">Or, get a <a href="#/tools/quoter">new quote</a></p>
    </div>

</div>

<div class="row-fluid" ng-show="didQuote">

    <div class="span8 offset2">
        
        <div ng-repeat="program in quote.programs">
        
            <hr />
        
            <h4>{{program.displayName || program.name}}</h4>
            
           <!--  <a class="btn btn-primary pull-right" ng-click="selectedProgram = program.name">Choose This Program</a> -->
        
            <table class="table">    
                <thead>
                    <tr>
                        <th class="span3">End of Lease Options</th>
                        <th class="span1" ng-repeat="term in program.rateSheet.termLength">{{term.length}} {{program.rateSheet.termPeriod}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="option in program.rateSheet.buyoutOptions">
                        <td>{{option.name}}</td>
                        <td ng-repeat="rate in option.rates">
                            {{rate.periodPayment = rate.rate * quote.totalCost | number:2}}
                            <br />
                            <a ng-click="chooseRate(option.name, program.rateSheet.termLength[$index].length, program.rateSheet.termPeriod, rate.periodPayment)"  class="btn btn-primary btn-select-term">Select</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <hr />
        
        <label>Send this link to share this quote!</label>
        <input type="text" id="permalink" value="{{permalink}}" class="input-xxlarge" />
        
    </div>
    
</div>
    
    

