<form name="QuoterToolForm" novalidate>
    <div class="row vendorSection area" ng-show="vendor._id">
        <div class="span8 offset1">
            <h1 ng-show="!vendor.logo">{{vendor.name}}</h1>
            <a ng-show="vendor.website" href="{{vendor.website}}">
                <img class="img-rounded img-large vendor-logo" ng-src="{{vendor.logo.original}}" ng-show="vendor.logo.original" title="{{vendor.name}}" />
            </a>
            <img class="img-rounded img-large vendor-logo" ng-src="{{vendor.logo.original}}" ng-show="vendor.logo.original && !vendor.website" title="{{vendor.name}}" />
            
        </div>
        <div class="span2">
            <img class="pull-right poweredby" src="img/powered_by.png" />
        </div>
    </div>

    <div class="row area" ng-show="!didQuote">

        <div class="span8 offset1">
                
            <label>Choose your vendor</label>
            <select ng-show="!didQuote && !haveVendor" id="vendorName" ng-model="vendor" ng-options="value as value.name for (key, value) in vendors">
                <option value="">---- Choose Vendor ----</option>
            </select>
        </div>
        
        <div class="span2" ng-show="!vendor._id">
            <img class="pull-right poweredby" src="img/powered_by.png" />
        </div>
        
    </div>


    <div class="row area-dark area">
        <div class="span10 offset1">
            <div class="row">
                <div class="span10">
                    <h3>Equipment Information</h3>
                </div>
            </div>
        
            <div class="row area-equiptment area">
                <div class="span5">
                    <!-- ############################################################ -->
                    <!-- ########################### Cost ########################### -->
                    <!-- ############################################################ -->
                    <label>Total Cost</label>
                    <span class="dollarSign">$</span><input type="text" id="cost" class="input-block dollarSign-prepend" placeholder="" ng-model="quoteCost" ng-disabled="!canEdit" name="cost" ui-validate="{numericality: 'Validator.validateCash($value, QuoterToolForm.cost)'}" required ng-blur="Validator.validateField(QuoterToolForm.cost, QuoterToolForm)" validated-form="QuoterToolForm">
                    <div ng-show="QuoterToolForm.FacultyErrors.cost" class="alert alert-error alert-tooltip">

                        {{QuoterToolForm.FacultyErrors.cost}}
                    </div>
                    <p class="alert alert-info" ng-hide="!didQuote || !canEdit">You can change the amount and click re-calculate quote.</p>

                    <!-- ############################################################ -->
                    <!-- #################### Generate Quote Button ################# -->
                    <!-- ############################################################ -->
                    <a  class="btn btn-primary" 
                        id="re-generateQuote"
                        analytics-on="click" 
                        analytics-event="ReCalcuate Quote"
                        analytics-category="Tools : Quoter" 
                        ng-disabled="" 
                        ng-click="generateQuote()" 
                        ng-show="didQuote && canEdit">{{buttonText}}</a>
                        
                    <p ng-show="didQuote && canEdit">Or, get a <a href="#/tools/quoter">new quote</a></p>
                
                </div>
                <div class="span5">
                    <!-- ############################################################ -->
                    <!-- ########################### Description #################### -->
                    <!-- ############################################################ -->
                    <label for="description">Description of Equipment</label>
                    <textarea name="description" id="description" type="text" class="textarea-block" ng-model="quote.description" ng-disabled="!canEdit" ng-blur="Validator.validateField(QuoterToolForm.description, QuoterToolForm)" validated-form="QuoterToolForm" required></textarea>

                    <div ng-show="QuoterToolForm.FacultyErrors.description" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.description}}
                    </div>
                    
                    <div ng-show="vendor.customField.enabled">        
                        <label>{{quote.customField.displayName || vendor.customField.displayName}}</label>
                        <input ng-show="vendor.customField.required" type="text" class="large" required ng-model="quote.customField.value" />
                        <input ng-show="!vendor.customField.required" type="text" class="large" ng-model="quote.customField.value" />
                    </div>
                
                </div>
            </div>
        </div>
    </div>

    <div class="row area" ng-hide="didQuote">   
        <div class="span10 offset1">
            <div class="row">
                <div class="span10">
                    <h3>Company Info</h3>
                </div>
            </div>
        
            <div class="row area">
                <div class="span5">
                    <!-- ############################################################ -->
                    <!-- ######################## Company Name ###################### -->
                    <!-- ############################################################ -->
                    <label for="companyName">Company Name</label>
                    <input type="text" name="companyName" id="companyName" class="input-block" placeholder="" ng-model="quote.company.fullLegalBusinessName"
                    ng-blur="Validator.validateField(QuoterToolForm.companyName, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.companyName" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.companyName}}
                    </div>

                </div>
                <div class="span5">
                    <!-- ############################################################ -->
                    <!-- ######################## Address One ####################### -->
                    <!-- ############################################################ -->
                    <label for="addressOne">Address 1</label>
                    <input type="text" name="addressOne" id="addressOne" class="input-block" placeholder="" ng-model="quote.company.businessAddress.address1" ng-blur="Validator.validateField(QuoterToolForm.addressOne, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.addressOne" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.addressOne}}
                    </div>
                    
                    <!-- ############################################################ -->
                    <!-- ######################## Address Two ####################### -->
                    <!-- ############################################################ -->
                    <label for="addressTwo">Address 2</label>
                    <input type="text" name="addressTwo" id="addressTwo" class="input-block" placeholder="" ng-model="quote.company.businessAddress.address2" ng-blur="Validator.validateField(QuoterToolForm.addressTwo, QuoterToolForm)">

                     <div ng-show="QuoterToolForm.FacultyErrors.addressTwo" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.addressTwo}}
                    </div>

                    <!-- ############################################################ -->
                    <!-- ############################ City ########################## -->
                    <!-- ############################################################ -->
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" placeholder="" class="input-block" ng-model="quote.company.businessAddress.city" ng-blur="Validator.validateField(QuoterToolForm.city, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.city" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.city}}
                    </div>
                    
                    <!-- ############################################################ -->
                    <!-- ############################ State ######################### -->
                    <!-- ############################################################ -->
                    <label for="state">State</label>
                    <select class="input-block" name="state" id="state" ng-model="quote.company.businessAddress.state" ng-options="state.abbreviation as state.name for state in states" ng-blur="Validator.validateField(QuoterToolForm.state, QuoterToolForm)" validated-form="QuoterToolForm" required></select>

                    <div ng-show="QuoterToolForm.FacultyErrors.state" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.state}}
                    </div>
                    
                    <!-- ############################################################ -->
                    <!-- ############################## Zip ######################### -->
                    <!-- ############################################################ -->
                    <label for="zip">Zip</label>
                    <input type="text" name="zip" id="zip" placeholder="" class="input-block" ng-model="quote.company.businessAddress.zip" ui-validate="{zip: 'Validator.validateZip($value)'}" ng-blur="Validator.validateField(QuoterToolForm.zip, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.zip" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.zip}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row area area-dark" ng-hide="didQuote">   
        <div class="span10 offset1">

            <div class="row">
                <div class="span10">
                    <h3>Contact Info</h3>
                </div>
            </div>
        
            <div class="row area">
                <div class="span5">
                    <!-- ############################################################ -->
                    <!-- ####################### Contact Name ####################### -->
                    <!-- ############################################################ -->
                    <label for="contactName">Contact Name</label>
                    <input type="text" class="input-block" id="contactName" placeholder="" ng-model="quote.company.contactPerson.name" name="contactName" ng-blur="Validator.validateField(QuoterToolForm.contactName, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.contactName" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.contactName}}
                    </div>
                </div>
                <div class="span5">
                    <!-- ############################################################ -->
                    <!-- ############################# Email ######################## -->
                    <!-- ############################################################ -->
                    <label for="contactEmail">Email</label>
                    <input type="email" name="contactEmail" id="contactEmail" class="input-block" placeholder="" ng-model="quote.company.contactPerson.email" ng-blur="Validator.validateField(QuoterToolForm.contactEmail, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.contactEmail" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.contactEmail}}
                    </div>

                    <!-- ############################################################ -->
                    <!-- ############################# Phone ######################## -->
                    <!-- ############################################################ -->
                    <label for="contactPhone">Phone</label>
                    <input type="text" name="contactPhone" id="contactPhone" class="input-block" placeholder="" ng-model="quote.company.contactPerson.phone" ui-mask="(999) 999-9999" ng-blur="Validator.validateField(QuoterToolForm.contactPhone, QuoterToolForm)" validated-form="QuoterToolForm" required>

                    <div ng-show="QuoterToolForm.FacultyErrors.contactPhone" class="alert alert-error alert-tooltip">
                        {{QuoterToolForm.FacultyErrors.contactPhone}}
                    </div>
                
                    <p>Preferred contact method</p>
                    <a ng-click="quote.company.contactPerson.contactMethod = 'email'" class="btn contact-method" ng-class="{active: quote.company.contactPerson.contactMethod == 'email'}" required>Email</a>
                    <a ng-click="quote.company.contactPerson.contactMethod = 'phone'" class="btn contact-method" ng-class="{active: quote.company.contactPerson.contactMethod == 'phone'}" required>Phone</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row" ng-show="didQuote">

        <div class="span10 offset1">
            
            <h3>Leasing Options</h3>
            
            <div ng-repeat="program in filteredPrograms">
                <h4>{{program.displayName || program.name}}</h4>
                <table class="table" ng-repeat="buyOutOption in program.rateSheet.buyoutOptions">
                    <thead>
                        <th class="span3">{{buyOutOption.name}}</th>
                        <th class="span1" ng-repeat="term in buyOutOption.terms">{{term.length}} {{program.rateSheet.termPeriod}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>${{quote.totalCost | number:2}}</td>
                            <td ng-repeat="rate in buyOutOption.costs[0].rates" ng-show="rate.rate != '-'">
                               
                                ${{rate.rate *  quote.totalCost | number:2}}<br/>
                                <a ng-click="chooseRate(option.name, program.rateSheet.termLength[$index].length, program.rateSheet.termPeriod, rate.periodPayment)"  class="btn btn-primary btn-select-term">Select</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        
    <div class="row" ng-show="canEdit && !didQuote">
            
        <div class="span10 offset1 text-center">
            <hr />
            <button type="submit" class="btn btn-primary btn-mega" id="generateQuote" ng-disabled="!vendor._id" ng-click="generateQuote()">{{buttonText}}</button>
            <p ng-show="didQuote">Or, get a <a href="#/tools/quoter">new quote</a></p>
        </div>

    </div>

    <div class="row" ng-show="didQuote">        
        <div class="span10 offset1">
        
        <h3>Share</h3>

        <label>Send this link to share this quote!</label>
        <input type="text" id="permalink" value="{{permalink}}" class="input-xxxlarge" />
        
        <br />
        <button class="btn btn-primary"
            analytics-on="click" 
            analytics-event="Download quote as PDF"
            analytics-category="Tools : Quoter"  
            ng-click="download()">{{downloadMessage}} <i ng-show="downloading" class="icon icon-spinner icon-spin"></i></button>
       
        </div>
    </div>

    <div class="row" ng-show="vendor.legalTerms">        
        <div class="span10 offset1">
            <br /><br />
            <h3>Terms</h3>
            <div id="legalTerms"><small>{{vendor.legalTerms}}</small></div>
            <br />
            <p><small>Quotes expire after 30 (Thirty) days.</small></p>
        </div>
    </div>
</form>

