<div class="row-fluid">
    <div class="sidebar" ng-include="'app/templates/nav.html'"></div>
    <div class="span10 offset2">
        <h2>Users</h2>
        
        <a id="addUser" class="btn btn-primary" href="#/dashboard/users/new">Add New User</a>
        
        <br /><br />
        
        <input type="text" placeholder="Search" ng-model="searchTerm">
        
        <table class="table">
            <thead>
                <tr>
                    <th class="">Avatar</th>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Vendor Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in users | filter: searchTerm">
                    <td>
                        <img class="img-circle img-medium" ng-show="item.avatar.original" ng-src="{{item.avatar.original}}" />
                    </td>
                    <td>{{item.name.first}} {{item.name.last}}</td>
                    <td>{{item.groups[0]}}</td>
                    <td>{{item.vendors.length || 0 | number}}</td>
                    <td>
                        <a class="edit" ng-click="editItem(item.id)">Edit</a> | 
                        <a class="view" ng-click="editItem(item.id)">View</a> | 
                        <a class="delete" ng-click="deleteItem(item)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>