<div class="row-fluid">
    <div class="span12">
        <h2>Programs</h2>
        
        <a id="addProgram" class="btn btn-primary" href="#/programs/new">Add New Program</a>
        
        <br /><br />
        
        <input type="text" placeholder="Search" ng-model="searchTerm">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in programs | filter: searchTerm">
                    <td>{{item.name}}</td>
                    <td>
                        <a class="edit" ng-click="editItem(item.id)">Edit</a> | 
                        <a class="view" ng-click="editItem(item.id)">View</a> | 
                        <a class="delete" ng-click="deleteItem(item.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>