

<div class="row has-title-bar">
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
     
    <div class="span10 offset2">
        <div class="row title-bar">
            <div class="span10">
                <h2>New Rate Sheet</h2>
                <ul class="nav nav-tabs">
                  <li ng-repeat="tab in tabs" ng-class="{active: isActiveTab($index), disabled: !user.id && $index != 0}"><a ng-click="changeTab($index)">{{tab}}</a></li>
                </ul>
                
                <div class="actions">
                     <a class="btn btn-primary" id="cancel" ng-click="cancel()">Cancel</a>
                     <a class="btn btn-primary" id="save" ng-click="save()">Save</a>
                </div>
            
            </div>
        </div>
        <div class="row">
            <div class="span3">
                
                <h3>Name</h3>
                
                <label>Program Name</label>
                <input type="text" placeholder="" ng-model="program.name">
                
            </div>
            
            <div class="span3">
                
                <h3>Private Notes</h3>
                
                <label>Private Notes</label>
                <textarea type="text" ng-model="program.notes_private"></textarea>
            
            </div>
            
            <div class="span3">  
                
                <h3>Public Notes</h3>
                
                <label>Public Notes</label>
                <textarea type="text" ng-model="program.notes_public"></textarea>
                
            </div>
        </div>
        <div class="row">
         
            <div class="span5">
                <h3>Rates</h3>
            
                <label>Term Period</label>
                <input type="text" class="input-small" ng-model="program.rateSheet.termPeriod"/>
                  
                <label>Cost Range Min</label>   
                <input type="text" class="input-small" ng-model="program.rateSheet.range.min"/>
                
                <label>Cost Range Max</label> 
                <input type="text" class="input-small" ng-model="program.rateSheet.range.max"/>
                
                
                <table class="table">
                    
                    <thead>
                        <th>Buyout Options</th>
                        <th ng-repeat="term in program.rateSheet.termLength">
                            <input type="text" class="input-small" ng-model="term.length"/>
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in program.rateSheet.buyoutOptions">
                            <td><input class="input-large" type="text" ng-model="option.name"/></td>
                            <td ng-repeat="rate in option.rates"><input type="text" class="input-small" ng-model="rate.rate"/></td>
                        </tr>
                    </tbody>
                
                </table>
                
            </div>

        </div>
    </div>
</div>