

<div class="row has-title-bar">
    <div class="span2 sidebar" ng-include="'app/templates/nav.html'"></div>
     
    <div class="span10 offset2">
        <div class="row title-bar">
            <div class="span10">
                <h2>New Rate Sheet</h2>
                <ul class="nav nav-tabs">
                  <li ng-repeat="tab in tabs" ng-class="{active: isActiveTab($index), disabled: !user._id && $index != 0}"><a ng-click="changeTab($index)">{{tab}}</a></li>
                </ul>
                
                <div class="actions">
                     <a class="btn btn-primary" id="cancel" ng-click="cancel()">Cancel</a>
                     <a class="btn btn-primary" id="save" ng-disabled="formBuyoutOptions.$invalid" ng-click="save()">Save</a>
                </div>
            
            </div>
        </div>
        <div class="row">
            <div class="span3">
                
                <h3>Name</h3>
                
                <label>Program Name</label>
                <input type="text" placeholder="" ng-model="program.name">
                
            </div>
            
            <div class="span3">
                
                <h3>Private Notes</h3>
                
                <label>Private Notes</label>
                <textarea type="text" ng-model="program.notes_private"></textarea>
            
            </div>
            
            <div class="span3">  
                
                <h3>Public Notes</h3>
                
                <label>Public Notes</label>
                <textarea type="text" ng-model="program.notes_public"></textarea>
                
            </div>
        </div>
        <div class="row">
         
            <div class="span10">
            
                <label>Term Length</label>
                <select ng-options="option for option in termPeriodOptions" type="text" class="input-small" ng-model="program.rateSheet.termPeriod"></select>
                <!--
  
                <label>Cost Range Min</label>   
                <input type="text" class="input-small" ng-model="program.rateSheet.range.min"/>
                
                <label>Cost Range Max</label> 
                <input type="text" class="input-small" ng-model="program.rateSheet.range.max"/>
-->
                <form name="formBuyoutOptions" novalidate>
                
                <div ng-repeat="buyoutOptions in program.rateSheet.buyoutOptions" ng-init="buyoutIndex = $index">
                    <!-- <pre>{{buyoutOptions.costs | json}}</pre> -->
                    <h3>{{buyoutOptions.name}}</h3>
                    
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td>Equipment Cost</td>
                                <td ng-repeat="item in buyoutOptions.terms">
                                    <input required number-only type="text" class="input-small" ng-model="item.length"/> 
                                </td>
                            </tr>  
                        </thead>
                        <tbody>
                            <tr ng-repeat="cost in buyoutOptions.costs" >
                                <td style="width: 200px;">
                                    <input required number-only type="text" class="input-mini" ng-disabled="$index != 0" ng-model="cost.min"/> <input number-only required type="text" class="input-mini" ng-model="cost.max" ng-change="adjustValues(buyoutOptions, cost.max, $index)"/>
                                </td>
                                <td ng-repeat="rate in cost.rates">
                                    <input type="text" decimal-places required class="input-small" ng-model="rate.rate"/>  
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px;">
                                    <button class="btn" ng-click="addRowToOption(buyoutOptions)">Add Row</button> 
                                    <button class="btn" ng-click="addColumnToOption(buyoutOptions)">Add Column</button> 
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    
                </div>
                
                </form>
                
                <form class="newOption form-inline" name="newOptionForm">
                    <h3>New Option</h3>
                    
                    <label>Buyout:</label><input type="text" required="required" class="input-large" ng-model="newOption.name">
                    <label>Minimum Cost:</label><input type="number" required="required" class="input-small" ng-model="newOption.minCost">
                    <label>Columns:</label><input type="number" required="required" class="input-mini" ng-model="newOption.columns">
                    <label>Rows:</label><input type="number" required="required" class="input-mini" ng-model="newOption.rows">
                
                    <button class="btn btn-large" ng-click="makeNewOption()" ng-disabled="newOptionForm.$invalid"><i class="icon-plus"></i></button> 
                    
                </form>
         
            </div>

        </div>
    </div>
</div>