<div class="row-fluid">
     <div class="span12">
        <h2>New Program</h2>
    </div>
</div>

<div class="row-fluid">

    <div class="span6">
        
        <legend>Program Info</legend>
        
        <label>Program Name</label>
        <input type="text" placeholder="" ng-model="program.name">
        
        <label>Private Notes</label>
        <textarea type="text" ng-model="program.notes_private"></textarea>
        
        <label>Public Notes</label>
        <textarea type="text" ng-model="program.notes_public"></textarea>
        
    </div>
   <!--
 
    <div class="span6">
        <legend>Program Vendors</legend>
    
        <ul>
            <li ng-repeat="vendor in program.vendors">
                <p>{{vendor.name}}</p>
            </li>
        </ul>
        
        <p ng-show="!program.vendors.length">No vendors are associated with the program yet</p>
    
    </div>
-->

</div>

<div class="row-fluid">
        
    <div class="span12">
        
        <hr />
        
        <a class="btn btn-primary" id="cancel" ng-click="cancel()">Cancel</a>
        <a class="btn btn-primary" id="save" ng-click="save()">Save</a>
    
    </div>

</div>